* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #0a192f;
    scroll-behavior: smooth;
}

.profile__pic {
    z-index: 10;
    position: fixed;
    padding: 20px 0 0 30px;
}

.pic {
    border-radius: 100px;
    box-shadow: 0px 0px 50px RGB(86, 211, 186);
}

.header {
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    height: 12%;
    width: 100%;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.navbar__container {
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: transparent;
}

.navbar__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    gap: 10px;
    margin: 0;
    height: 100%;
    width: 60%;
}

.navbar__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 40px;
    width: 20%;
    padding: 10px;
}

.navbar__link {
    display: flex;
    justify-content: center;
    font-family: Roboto Mono, monospace;
    color: RGB(86, 211, 186);
    text-decoration: none;
    font-size: 1.2rem;
    opacity: .7;
}

@media screen and (max-width: 960px) {

    .navbar__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
      }

      .navbar__menu.active {
        background: #0a192f;
        top: 100%;
        opacity: .7;
        transition: all 0.5s ease;
        height: 40vh;
        font-size: 1.9rem;
        top: 0;
      }
    
      .toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
      }
    
      .navbar__item {
        width: 100%;
      }

      .navbar__link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
      }

      #mobile__menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }
    
      .toggle .bar {
        display: block;
        cursor: pointer;
        background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
        background: linear-gradient(to right, #FFFFFF, #ECE9E6);
        z-index: 100;
      }
    
      #mobile__menu.is-active .bar:nth-child(2) {
        opacity: 0;
        z-index: 100;
      }
    
      #mobile__menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        z-index: 100;
      }
    
      #mobile__menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        z-index: 100;
      }

    }

.links {
    position: fixed;
    bottom: 0px;
    left: 25px;
    right: auto;
    padding: 40px 20px 100px 20px;
    margin-left: 20px;
}

.web__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 1rem;
}

.link {
    padding: 15px 0;
    font-size: 1.5rem;
    color: RGB(86, 211, 186);
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 80px 0 200px;
    font-family: 'Roboto Mono', monospace;
    gap: 100px;
}

.h1 {
    font-size: 6rem;
    color: #ccd6f6;
    margin: 1rem 0;
    font-family: 'Roboto Mono', monospace;
}

.h2 {
    font-size: 3rem;
    color: #ccd6f6;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-size: 1.3rem;
    color: RGB(135, 146, 176);
    padding-left: 40px;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    top: 5px;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}

.projects__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}

iframe {
    height: 50%;
    width: 100%;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}

.skills__container {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.skill__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    list-style: none;
    padding-right: 10px;
}

.icon__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    justify-content: space-evenly;
    width: 80%;
    height: 30%;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    color: white;
}

.icon__li {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 10px;
}

#icon {
    font-size: 5rem;
    color: white;
}
